@import "compass/css3";
* {
	padding: 2em;
}

*:before,
*:after {
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
					box-sizing: border-box;
}

body {
	font-family: sans-serif;
	background-color: #8FCB9B;
}

label {
	text-align: center;
}

.checkedOff {
	text-decoration: line-through;
 }

.wrapper {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;

	text-align: center;
}

.wrapper > * {
	padding: 10px;
	flex: 1 100%;
}

.header {
	background: tomato;
}

.footer {
	background: lightgreen;
}

.main {
	background: white;
	text-align: left;
}

.aside-2 {
	background: hotpink;
}

input[type="text" i ] {
	height: 25px;
	width: 200px;
	background: transparent;
	padding: 0 6px;
	display: inline-block;
	border-style: none;
	border-bottom-style: dotted;
}

input[type="button" i] {
 	font-family: sans-serif;
 	font-weight: 400;
 	font-size: 8px;
 	display: inline-block;
 }

 input:focus {
	font-weight: bold;
 }

 input[type="checkbox" i] {
	margin: 2%;
 }

.button {
	font-family: san-serif;
	height: 30px;
	width: 70px;
	border-radius: 10px;
	text-align: center;
	font-size: 20px;
	background-color: #FFF;
	border-width: 5px 5px 5px 5px;
	border-image: url(img/jButton.png) 13% 9% repeat;
}

.button:hover {
	background: #FFF;
	font-weight: bold;
}

.input {
	text-align: center;
}

@media all and (min-width: 600px) {
	.aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
	.main { flex: 3 0px; }
	.main { order: 2; }
	.aside-2 { order: 3; }
	.footer { order: 4; }
}
