* {
	margin: 0;
	padding: 0;
}

*:before,
*:after {
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
					box-sizing: border-box;
}

body {
	font-family: sans-serif;
	margin: auto;
	width: 400px;
	background-color: #8FCB9B;
	background-image: linear-gradient(to bottom, #8FCB9B, #EAE6E5 100%);
}

label {
	width: 100px;
	line-height: 30px;
}

.checkedOff {
	text-decoration: line-through;
 }

.main {
	background: white;
	padding: 5%;
	height: 100vh;
}

input[type="text" i ] {
	height: 25px;
	width: 200px;
	border-radius: 3px;
	padding: 0 6px;
	display: inline-block;
}

input[type="button" i] {
 	font-family: sans-serif;
 	font-weight: 400;
 	font-size: 8px;
 	display: inline-block;
 }

 input:focus {
	font-weight: bold;
 }

.button {
	font-family: san-serif;
	height: 30px;
	width: 70px;
	border-radius: 10px;
	text-align: center;
	font-size: 20px;
	background-color: #FFF;
	border-width: 5px 5px 5px 5px;
	border-image: url(img/jButton.png) 13% 9% repeat;
}

.button:hover {
	background: #FFF;
	font-weight: bold;
}


