* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
}

.checkedOff {
	text-decoration: line-through;
 }

 input[type="button" i] {
 	font-family: sans-serif;
 	font-weight: 400;
 	font-size: 8px;
 }

 input:focus {
	font-weight: bold;
 }

.button {
	font-family: san-serif;
	height: 30px;
	width: 130px;
	border-radius: 10px;
	background-color: #00A9DD;
	border: 10px double;
	text-align: center;
	border-color: #F01652;
	margin: auto;
	padding: 0 0 0 0;
	font-size: 20px;
	opacity: 0.75;
}

.button:hover {
	background: #FFF;
	font-weight: bold;
}


